body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* styling menu icon */
.nav-menu {
    border: none;
    background-color: #fff;
    font-size: 1.5rem;
    color: #fca61f;
}

/* styling navbar links  */
.navbar-nav a {
    color: black;
    position: relative;
}

.navbar-nav a:hover {
    color: #fca61f;
}

.navbar-nav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    top: 35px;
    position: absolute;
    background: #fca61f;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar-nav a:hover:after {
    width: 100%;
    left: 0;
}

/* styling contact btn  */
.c-btn {
    border: none;
    background: #fca61f;
    color: #fff;
    font-size: 1.2rem;
}

/* Home Styling */

.home {
    background: linear-gradient(33deg, rgba(242, 242, 255, 1) 0%, rgba(235, 249, 255, 1)100%);
    padding: 30px 0px 10px 0px;
}

.home h2 {
    font-size: 3rem;
    line-height: 4rem;
}

.c-orange {
    color: #6f34fe;
    font-weight: 700;
    font-size: 4rem;
}

.home p {
    width: fit-content;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.h-btn:hover {
    background: red;
    color: #fff;
    transform: translateY(-20px);
    transition-duration: 1s;
}

.home img {
    animation: floating 4s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-24px);
    }

    100% {
        transform: translateX(0);
    }
}

/* Expertise Styling */
.heading small {
    color: #6f34fe;
    font-size: 1.5rem;
    font-weight: 700;
}

.heading h3 {
    margin-top: 0.5rem;
    color: #fca61f;
    font-size: 2.5rem;
    font-weight: 700;
}

.expertise h4 {
    color: #6f34fe;
    font-weight: 700;
}

.expertise a {
    text-decoration: none;
    color: #fca61f;
}

.expertise a:hover {
    color: #6f34fe;
}

.expertise .service-card {
    text-align: center;
    padding: 15px 15px;
    border-radius: 0.7rem;
}

/* Skill Styling */
.skill {
    background-color: rgba(235, 249, 255, 1);
}

.progress-card {
    padding: 12% 10% 10% 15%;
    background-color: #fff;
    text-align: center;
    border-radius: 10%;
}

.progress-card:hover {
    transform: scale(1.1,1.1);
    transition-duration: 0.2s;
}

.cicular-progess {
    position: relative;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background: conic-gradient(#fca61f, #6f34fe);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cicular-progess::before {
    content: "";
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #fff;
}

.progress-value {
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
}

.html-progress {
    color: #fca61f;
}

.javascript-progress {
    color: #6f34fe;
}

.php-progress {
    color: #fca61f;
}

.reactjs-progress {
    color: #6f34fe;
}

.text {
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
}

.heading p {
    font-size: 1.3rem;
}


